#####################################################################
#   Macros
#####################################################################

#[gcode_macro PRINT_START]
##   Use PRINT_START for the slicer starting script - PLEASE CUSTOMISE THE SCRIPT
#gcode:
#    M117 Homing...                 ; display message
#    G28
#    Z_TILT_ADJUST
#    G28
#    G0 X175 Y175 Z30 F3600

[gcode_macro PRINT_START]
# For example this would be the way to call this from SuperSlicer
# M104 S0
# M140 S0
# PRINT_START BED=[first_layer_bed_temperature] HOTEND=[first_layer_temperature]
description: Prepares for printing, home, heating, nozzle clean, z_tilt, z_calibration, more nozzle clean
gcode:
# Parameters
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.EXTRUDER|int %}

    SET_GCODE_OFFSET Z=0.0                                          ; Clear any stored Z-offset   
    BED_MESH_CLEAR                                                  ; Clear any existing bed mesh             

    CG28                                                            ; home xyz
    CENTER                                                          ; Move to center of the bed
    M106 S255                                                       ; Part cooling fan (just until I put in bed fans
    M190 S{bedtemp}                                                 ; Heat bed to temperature
    M109 S{hotendtemp}                                              ; Head nozzle to temperature for nozzle clean
    CLEAN_NOZZLE PURGE=0 PURGE_LEN=0 MOVE=0                         ; Clean nozzle without purging
    CENTER                                                          ; Move back to the center of the bed
    Z_TILT_ADJUST                                                   ; Now do the Z tilt adjust with a supposedly clean nozzle
    G28 Z                                                           ; Rehome the Z after Z tilt adjust
    BED_MESH_CALIBRATE                                              ; Do the bed mesh calibrate, this should call the KAMP adaptive bed mesh routine
    M109 S{hotendtemp}                                              ; wait for hotend temp
    CLEAN_NOZZLE PURGE=1 PURGE_LEN=20 MOVE=0                        ; Now do a purge and nozzle clean
    #SET_FILAMENT_SENSOR SENSOR=filament_motion_sensor ENABLE=0     ; Disabled as it breaks klippers state machine? 
    CENTER                                                          ; Back to the center again
    LINE_PURGE                                                      ; Do a purge line

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-18.0 F3600                 ; retract filament 18mm to clear to revo nozzle
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

[gcode_macro T0]
description: Cooldown extruder and heat bed
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0   
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    #SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
    BASE_CANCEL_PRINT

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 2.0) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
      G1 Z{z_safe} F900
      G90
      G1 X{x_park} Y{y_park} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %} 
    
[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G91
      G1 E{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}  
    RESUME_BASE {get_params}

[gcode_macro CG28]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

[gcode_macro CENTER]
description: Move head to center bed, Z argument default 20
gcode:
    {% set Z = params.Z|default(40)|float %}

    G90
    G0 X{printer.toolhead.axis_maximum.x/2|int} Y{printer.toolhead.axis_maximum.y/2|int} Z{Z} F12000
